<%= form_for :product, url:  products_path do |f| %>
 
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <div id="category_erros">
  <p></p>
 </div> 
  
  <h2>
    Add New Product<br>
  </h2>

  <div class = "product_name">
    <%= f.text_field :name , placeholder: "name"%>
  </div></br>

  <div class = "product_description">
    <%= f.text_area :description , placeholder: "short description"%>
  </div></br>

  <div class = "product_category">
    <%= f.select :category_ids, @categories.present? ? @categories.collect{|c| [c.name, c.id]} : "" , {prompt: "Category"}, id: "list_of_categories" %>
      <%= button_tag("+Add new ",type: 'button', onClick: "addNewCategory()",id:"new-category")%>   
  </div></br>

  <div class = "save-category">
    <%= text_field_tag 'categories', nil, placeholder: 'Add new Category', id: "new-category-field" %>
    <%= button_tag("Save Category ",type: 'button', onClick: "saveCategory()")%>
  </div></br> 

  <div class = "product_status">
    <%= f.select :status, Product::STATUS_VALUES, {prompt: "Select status"}%>
  </div></br>

  <div class = "product_price">
    <%= f.text_field :price , placeholder: "price"%>
  </div></br>



  <div class = "product_is_recurring">
    <%= f.check_box :is_recurring, id: "product_recurring" %>
    <%= f.label "Recurring billing" %> 
  </div></br>

  <div class = "recurring">
  
    <div class = "product_recurring_type">
      <%= f.select :recurring_type, Product::RECUURING_BILLING_TYPE, {prompt: "Select billing type"}, id: "product_recurring_type"%>
    </div></br>

    <div class = "recurring_custom_bill_on">
      <%= f.label "Bill every:" %>
      <%= f.text_field :recurring_custom_bill_on , value: 1%>
    </div></br>

    <div class = "recurring_custom_type">
      <%= f.select :recurring_custom_type, Product::RECUURING_CUSTOME_TYPE, {prompt: "Select custom billing type"} %>
    </div></br>

    <div class = "product_recurring_no_of_payments">
      <%= f.text_field :recurring_no_of_payments , placeholder: "No of Payments"%>
    </div></br>

  </div>


  <div class = "product_has_trial">
    <%= f.check_box :has_trial, id: "product_trial" %>
    <%= f.label "Allow free trial" %> 
  </div></br>

  <div class = "product_trial_price">
    <%= f.text_field :trial_price , placeholder: "Trial Price"%>
  </div></br>

  <div class = "product_trial_days">
    <%= f.text_field :trial_days , placeholder: "Trial Days"%>
  </div></br>


  <p>
    <%= f.submit %>
  </p>
 
<% end %>
