<%= form_for @product do |f| %>
  <h3>Prducts</h3>

  <div id="products">
    <%= f.fields_for :products do |task| %>
      <%= render 'product_fields', :f => task %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add more products', f, :products %>
    </div>
  </div>

    <%= f.submit :submit %>
<% end %>