<div class = "single-product">
  <h2>Edit Product</h2>
  <%= form_for :product, :html => {id: "batch-form", :class => "form-batch"}, url:  product_path, method: :patch  do |f| %>
  <div class = "left-container">
     <div class = "product_name">
      <%= f.text_field :name , placeholder: "name"%>
     </div></br>

     <div class = "product_description">
      <%= f.text_area :description , placeholder: "short description"%>
     </div></br>

     <div class = "product_price">
      <%= f.text_field :price , placeholder: "price"%>
     </div></br>
  </div>


  <div class = "center-container">

     <div class = "product_category">      
        <%= f.select :category_ids, @categories.present? ? @categories.collect{|c| [c.name, c.id]} : "" , {prompt: "Category"}, id: "list_of_categories" %>
        <%= button_tag("+Add new ",type: 'button', onClick: "addNewCategory(this)", id:"new-category")%> 
     </div></br>
        
      <div class = "save-category">
        <%= text_field_tag 'categories', nil, placeholder: 'Add new Category', id: "new-category-field" %>
        <%= button_tag("Save Category ",type: 'button', onClick: "saveCategory()")%>
      </div></br>   

     <div class = "product_status">
        <%= f.select :status, Product::STATUS_VALUES, {prompt: "Select status"}%>
     </div></br>

  </div>

  <div class="right-contianer">
     
     <div>
        <%= f.check_box :is_recurring, class: 'product_is_recurring' %>
        <%= f.label "Recurring billing" %> 
     </div></br>

     <div class="recurring">
    
        <%= f.select :recurring_type, Product::RECUURING_BILLING_TYPE, {prompt: "Select billing type"}, class: "product_recurring_type"%>

      <div class="recurring_custom_bill_on">
        <%= f.label "Bill every:" %>
        <%= f.text_field :recurring_custom_bill_on , value: 1%>
      </div></br>

      <div class="recurring_custom_type">
        <%= f.select :recurring_custom_type, Product::RECUURING_CUSTOME_TYPE, {prompt: "Select custom billing type"} %>
      </div></br>

      <div class="product_recurring_no_of_payments">
        <%= f.text_field :recurring_no_of_payments , placeholder: "No of Payments"%>
      </div></br>

     </div>


     <div class = "product_has_trial">
        <%= f.check_box :has_trial, class: "product_trial" %>
        <%= f.label "Allow free trial" %> 
     </div></br>

     <div class = "product_trial_price">
        <%= f.text_field :trial_price , placeholder: "Trial Price"%>
     </div></br>

     <div class = "product_trial_days">
        <%= f.text_field :trial_days , placeholder: "Trial Days"%>
     </div></br>

    <p>
      <%= f.submit "Save Product"%>
    </p>
   
  <% end %>

  </div>
</div>